.modal.fade{"data-controller" => "modal", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        = tag.h5 'Test', class: "modal-title"
        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", :type => "button"}
